.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  margin-top: 30px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.clear-cart,
.review-order {
  height: 48px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-cart {
  width: 85%;
  background: #ff3030;
}

.review-order {
  width: 100%;
  background: #ff9900;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
}

.pagination {
  margin: 20px auto;
}

.pagination .selected {
  color: rgb(101, 99, 99);
  background: white;
  border: 1px solid black;
}

.pagination button {
  margin-right: 10px;
  background: rgb(101, 99, 99);
  color: white;
  border: 1px solid white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
