.cart {
  background: rgba(255, 153, 0, 0.3);
  position: sticky;
  padding: 30px 20px;
}
.cart-details {
  padding: 0 25px;
  color: rgba(42, 65, 79, 1);
}

.cart-title {
  text-align: center;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 30px;
}

.grand-total {
  font-size: 18px;
}

.cart-btn {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.clear-cart,
.review-order {
  width: 85%;
  height: 48px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-cart {
  background: #ff3030;
}

.review-order {
  background: #ff9900;
}

.cart-btn {
  margin-left: auto;
  margin-right: auto;
}
