.review-item {
  border: 1px solid #95a0a7;
  border-radius: 8px;
  padding: 8px;
  margin-top: 20px;
  width: 570px;
  display: flex;
}

.review-item img {
  width: 90px;
  border-radius: 8px;
}

.review-item-details {
  margin: 10px;
}

.review-item-details p {
  margin: 0;
}

.item-details-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-container {
  background-color: rgba(235, 87, 87, 0.3);
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
  color: rgb(235, 87, 87);
}
